

#list{
	width:100%;
    height:35px;
    background:#F7F7F7;
    border:1px solid #CCCCCC;
	position:relative;
}
	.left{
		margin-left:55%;
	}
/*#top_nav{*/
/*	float:right;*/
/*    display:inline-block;*/
/*	*/
/*}*/
#list .z1{
    font-size:5px;
    padding-left:3px;
    padding-right:3px;
    line-height:10px;
}
#list a.img1{
    padding-left:3px;
    padding-right:3px;
    padding-top:7px;
/*    display:inline-block;*/
}



#list2{
    display:flex;
    justify-content: space-between;
    width:500px;
    height:31px;
    position:relative;
    margin-top:24px;
    background:#f5f5f5;
    float:right;
    margin-right:35px;

}

#sou .search{
    /*取消边框，取消轮廓，高度*/
    display:inline-block;
    padding-left:10px;
    outline:none;
    height:28px;
    width:330px;
    background:#fff;

}
#sou1 .search2{
    display:inline-block;
    width:50px;
    height:34px;
    background:linear-gradient(to bottom,#B81B22,#B71C22);
    color:white;
    text-align:center;
    line-height:33px;
    font-size:14px;
}
 #gou .search3{
     display:block;
     background:url(../img/header/2017-09-21_005409.png) no-repeat scroll;
    margin-left:20px;
     width: 112px;
     height: 35px;
}
/*二维码 */
 #weixin{
     display:none;
     position:absolute;
     left:75%;
     z-index:100;
 }


#nav{
    display:flex;
    justify-content: space-between;
    width:1200px;
    height:90px;
}
#nav #list3 .logo{
    display:block;
    background:url(../img/header/logo_new.jpg) no-repeat scroll;
    margin-bottom:20px;
    margin-top:40px;
    width: 180px;
    height:60px;
}
#list4{
    margin-top:50px;
}
#navigation{
    display:inline-block;

}

#navigation li{
    float:left;
    text-align:center;
    position:relative;

}
#navigation li a{
    display:block;
    text-decoration:none;
    color:#B77D66;
    width:100px;
    height:30px;
    line-height:30px;
    border-left:1px solid;
    background:white;
    padding-left:5px;
    font-size:15px;


}
#navigation li a:hover{
    color:#B77D66;
    background:white;
}
#navigation li ul li a:hover{
    color:#B77D66;
    background:#DDDDDD;

}
#navigation li ul{
    display:none;
    position:absolute;
    top:30px;
    left:0;
    width:100px;
}
#navigation li ul li a{
    width:100px;
    height:30px;
    line-height:30px;
    border:1px dotted #DDDDDD;
    transition:all .3s linear;
}
#navigation li .nav1{
    border-left:1px solid #DDDDDD;
    transition:all .3s linear;
}
