
/*回到顶部*/
#goTop{
    position:fixed;
    right:0;
    bottom:100px;
    width:50px;
    height:50px;
	border-radius:5px;
/*	background:#000 url(../img/index/gotop.png) no-repeat center center;*/
	cursor:pointer;
	display:none;
	background:black;
	overflow:hidden;
	z-index:100;
}

	#goTop img:hover{
		opacity:0.8;
	}

#banner{
    width:1200px;
    height:535px;
    overflow:hidden;
    /*相对定位：配合 a.ck-slide做绝对定位*/
    position:relative;
    margin-top:10px;
}
#banner ul.banner-img{
    position:absolute;
    left:0;
}
#banner ul.banner-img li{
    float:left;
    width:1200px;
}
#banner ul.banner-img img{
    width:1200px;
    height:535px;
}

/*左右方向按钮的相同的样式*/
#banner a.ck-slide{
    /*绝对定位,宽度，高度，倒角，背景颜色，透明度，上偏移距离*/
    position:absolute;
    width:35px;
    height:70px;
    border-radius:5px;
    background:#000;
    opacity:0.2;
    top:238px;
    transition:all .3s linear;
}

#banner a.ck-left{
    /*左偏移距离，背景图*/
    left:5px;
    background:#000 url(../img/index/arrow-left.png) no-repeat center center;
}
#banner a.ck-right{
    /*右偏移距离，背景图*/
    right:5px;
    background:#000 url(../img/index/arrow-right.png) no-repeat center center;

}
#banner a.ck-slide:hover{
    opacity:0.6;
}
#banner ul.indicators{
    position:absolute;
    bottom:30px;
    left:50%;
    margin-left:-34px;
}


#banner ul.indicators li{
    
    width:15px;
    height:15px;
    border-radius:50%;
    background:#fff;
    margin-right:5px;
    float:left;
    transition:all .2s linear;
}
#banner ul.indicators li:hover,#banner ul.indicators li.hover{
    background:#0AA1ED;
    cursor:pointer;
}

#lift{
    margin-top: 25px;
    display: none;
    position: fixed;
    z-index: 100;
    background-color: #918888;
    left: 10px;
    top:150px;
    border:1px solid yellow;
}
.lift_list{ display: block; list-style:none }
.lift_item {
    border-top: 1px solid #b1aaaa;
    transition: background-color .1s;
    transition:all .3s linear;
}
.lift_btn {
    overflow:hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
}
.lift_item:hover,.lift_item_on {
    position: relative;
    border-bottom: 1px solid #d70b1c;
    margin-bottom: -1px;
    border-color: #d70b1c;
    background-color: #d70b1c;
}
.lift_btn {
    overflow: hidden;
    display: block;
    width: 34px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
}
 